.contact-form {
  background: #532685;
}

.login-box {
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  font-size: 2.5rem;
  border-bottom: 3px solid;
  padding: 0 0 10px;
  margin: 0 0 30px;
  color: #FFF;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box input::placeholder {
  opacity: 0;
  transition: .3s;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #FFF;
  pointer-events: none;
  transition: .3s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #FFC84A;
  font-size: 12px;
}

.login-box .user-box input:focus::placeholder {
  opacity: 1;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #FFC84A;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #FFC84A;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #FFC84A,
              0 0 25px #FFC84A,
              0 0 50px #FFC84A,
              0 0 100px #FFC84A;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #FFC84A);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #FFC84A);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #FFC84A);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #FFC84A);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

/*
.field {
  position: relative;
  height: 52px;
  width: 100%;
  max-width: 150px;
  color: #FFF;
  overflow: hidden;
}

.field input {
  position: absolute;
  height: 100%;
  width: 100%;
  color: #FFF;
  line-height: 52px;
  outline: 0;
  background-color: inherit;
  padding: 25px 0 0;
  border: none;
  box-sizing: border-box;
}

.field .label-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  background-color: inherit;
  left: 0;
  pointer-events: none;
  border-bottom: 1px solid white;
}

.field .label-wrapper::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #FF9950;
  left: 0;
  bottom: -1px;
  transform: translateX(-100%);
  transition: transform .2s ease;
}

.field .label-text {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all .2s ease;
}

.field input:focus + .label-wrapper .label-text,
.field input:valid + .label-wrapper .label-text {
  font-size: 12px;
  color: #FF9950;
  transform: translateY(-150%);
}

.field input:focus + .label-wrapper::after,
.field input:focus + .label-wrapper::after {
  transform: translateX(0%);
}
*/