@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

@font-face {
  font-family: SofiaProLighter;
  src: url(../fonts/sofiapro/Fonts/sofiapro-light.otf);
}

@font-face {
  font-family: SofiaProRegular;
  src: url(../fonts/sofiapro/Fonts/SofiaPro-Regular.woff2);
}

p, a, li, h2, h3, h4, h5, h6 {
  font-family: SofiaProRegular;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #070d12;
}

::-webkit-scrollbar-thumb{
  background-color: #532685;
  border-radius: 20px;
  border: 3px solid #070d12;
}

.container {
  width: 90%;
  padding: 100px 0;
  margin: auto;
}

/* HEADER */
.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #532685;
  width: 100%;
  padding: 20px 40px;
}

.header_img-logo {
  cursor: pointer;
}

.header_nav_list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header_nav_list_item a {
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  color: #FFF;
}

.header_nav_list_item a::after {
  position: absolute;
  bottom: 0;
  left: 1px;
  content: " ";
  width: 0;
  height: 2px;
  background-color: #FFF;
  transition: 0.4s;
}

.header_nav_list_item a:hover::after {
  width: 99%;
}

#focused {
  color: #C3A051;
}

#focused::after {
  position: absolute;
  bottom: 0;
  left: 1px;
  content: " ";
  width: 0;
  height: 2px;
  background-color: #C3A051;
  transition: 0.4s;
}

#focused:hover::after {
  width: 99%;
}

#img-bag {
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
  transition: 400ms background-color;
}

#img-bag:hover {
  background-color: #FFF;
}

#img-bag:hover #white-bag {
  display: none;
}

#img-bag:hover #black-bag {
  display: inline-block;
}

#black-bag {
  display: none;
}

/* MAIN */
.main_top {
  background: linear-gradient(135deg, #682FA8, #9e4aff 97%);
  height: 100vh;
}

.main_top .first-container {
  width: 100%;
  height: 100%;
  padding-left: 5%;
  box-sizing: border-box;
  margin: auto;
}

.main_top_article {
  display: flex;
  height: 100%;
}

.main_top_article_text {
  padding-top: 200px;
  width: 50%;
  height: 100%;
}

.main_top_article_text .main-title {
  font-family: 'Poppins', sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 30px;
}

.main_top_article_text .main-title img {
  width: 40rem;
  margin-left: -10px;
}

.main_top_article_text .initial-text {
  line-height: 3.5rem;
  font-size: 2.5rem;
  color: #FFF;
}

.main_top_article_img {
  display: grid;
  place-items: end;
  width: 50%;
}

.main_top_article_img img {
  height: 80vh;
}

/*.products {}*/